In [1]:
import csv
import pandas as pd
from wikimedia import searchEntity, searchObjWProperty, searchProperty
from dateutil.parser import parse
import operator

In [2]:
limit = 5
threshold = 0

def is_date(string):
    try: 
        parse(string)
        return True
    except ValueError:
        return False
    
def ranking(candidateList, goal, flag, propertyLbl):
    scoreList = [0] * len(candidateList)
    for i in range(len(candidateList)):
#         if(not flag):
#             results = searchObjWProperty(candidateList[i]['id'], 'P31')
#             if(len(results['results']['bindings']) > 0):
#                 temp = False
#                 for elem in results['results']['bindings']:
#                     if(elem['itemLabel']['value'].lower() == propertyLbl.lower()):
#                         temp = True
#                         break
#                 if(not temp):
#                     scoreList[i] = scoreList[i] - 5
        results = searchObjWProperty(candidateList[i]['id'], 'P17')
        if(len(results['results']['bindings']) > 0):
            if(results['results']['bindings'][0]['itemLabel']['value'] == 'Indonesia'):
                scoreList[i] = scoreList[i] + 1
        
        lblDis = lDistance(goal, candidateList[i]['label'].lower())
        aliDis = 10000000
        if('aliases' in candidateList[i]):
            aliDis = lDistance(goal, candidateList[i]['aliases'][0].lower())
        
        scoreList[i] = scoreList[i] - min(lblDis, aliDis)
    
    maxScore = max(scoreList)
    if(maxScore < threshold):
        return ''

    idx = scoreList.index(maxScore)
    return candidateList[idx]['id']

def searchID(flag, cell, rowHead):
    json = searchEntity(cell.lower(), limit)['search']
    id = ''
    if(len(json) > 1):
        id = ranking(json, cell.lower(), flag, rowHead)
    elif(len(json) == 1):
        id = json[0]['id']
    
    if(id == '' and flag):
        id = 'QNew'
    elif(id == ''):
        id = 'QNPNew'
        
    return id

def makeDatatypeMap(header_list, df):
    dtMap = []
    for elem in df.loc[0, header_list]:
        try:
            if(elem.replace('.','').replace(',', '').replace('-', '').replace(' ', '').isdigit()):
                dtMap.append(1)
            elif('jl.' in elem.lower()):
                dtMap.append(1)
            elif(is_date(elem)):
                dtMap.append(1)
            else:
                dtMap.append(0)
        except AttributeError:
            dtMap.append(1)
    return dtMap

def lDistance(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1

    distances = range(len(s1) + 1)
    for i2, c2 in enumerate(s2):
        distances_ = [i2+1]
        for i1, c1 in enumerate(s1):
            if c1 == c2:
                distances_.append(distances[i1])
            else:
                distances_.append(1 + min((distances[i1], distances[i1 + 1], distances_[-1])))
        distances = distances_
    return distances[-1]

In [3]:
searchObjWProperty('Q9842', 'P31')['results']['bindings']

[]

In [6]:
searchID(False, "SLB", "Jenjang Sekolah")

'Q131499'

In [3]:
mapping = {}
mapping['kecamatan'] = 'P131(2)'
mapping['kelurahan'] = 'P131'
mapping['jenjang sekolah'] = 'P31'
mapping['alamat sekolah'] = 'P6375'
mapping['alamat'] = 'P6375'
mapping['jumlah siswa'] = 'P2196'
mapping['telp sekolah'] = 'P1329'
mapping['lokasi geografis'] = 'P625'
mapping['nama sekolah'] = 'P31'

In [4]:
df = pd.read_csv("data/SMKRawanBanjir.csv", encoding='latin-1')
protagonist = 'Nama Sekolah'
df

,No.,Nama Sekolah,Alamat,Kelurahan,Kecamatan,Jumlah Siswa,Jumlah Guru,Telp Sekolah,Kondisi Lingkungan,Lokasi Geografis
0,1,SMK Analis Kesehatan Tunas Harapan,Jl. Bendera Raya - Intisari 3,Kalisari,Pasar Rebo,350,39.0,021-8720108,Banjir,"-6.331491, 106.858711"
1,2,SMK Bhakti,Jl. Karya Barat I Ujung No.24 Jakarta Barat,Wijaya Kusuma,Grogol Petamburan,30,13.0,82114486336,Banjir,"-6.161085, 106.773727"
2,3,SMK Bunga Nusa I,"Jl. Rawa Bengkel Sdn 19 Pagi, Cengkareng Barat",Cengkareng Barat,Cengkareng,60,10.0,(021)5447107,Banjir,"-6.141474, 106.725876"
3,4,SMK Dewi Sartika,Jl. Kebon Nanas Utara II/23,Cipinang Cempedak,Jatinegara,295,21.0,021-85914453,Banjir,"1.000000, 2.000000"
4,5,SMK Hang Tuah I Jakarta,Jl. Tabah Raya Komp. TNI AL,Kelapa Gading Barat,Kelapa Gading,512,28.0,(021)4535140,Banjir,"-6.158968, 106.885063"
5,6,SMK Ibu Pertiwi 1 Jakarta,Jl. Let. Jend. S. Parman No. 69,Slipi,Palmerah,0,14.0,(021)70624646,Banjir,"-6.193888, 106.797432"
6,7,SMK Islam Fatahillah Jakarta,Jl. Keutamaan No. 89,Krukut,Taman Sari,144,14.0,(021) 6344508,Banjir,"-6.156000, 106.814003"
7,8,SMK Karya Bahari,Jl. Mindi No. 36,Lagoa,K o j a,55,13.0,43909933,Banjir,"-6.113743, 106.916031"
8,9,SMK Kesatuan,Jl. Kesatuan No.1 kp.Klingkit,Rawa Buaya,Cengkareng,306,18.0,(021)58300174,Banjir,"-6.156400, 106.728104"
9,10,SMK Kimia Tunas Harapan,Jl. Bendera Raya / Intisari III No.17,Kalisari,Pasar Rebo,209,22.0,(021)8728766,Banjir,"-6.330335, 106.858643"
10,11,SMK Lagoa,Jl. Lagoa III No. 135,Lagoa,K o j a,73,12.0,4308134,Banjir,"-6.117838, 106.913391"
11,12,SMK Negeri 26,Jl. Balai Pustaka Baru 1,Rawamangun,Pulo Gadung,1079,105.0,(021)4720310,Banjir,"-6.194550, 106.886497"
12,13,SMK Negeri 38,Jl. Kebon Sirih No. 38,Gambir,Gambir,347,31.0,021 - 3441788,Banjir,"-6.181852, 106.817123"
13,14,SMK Nusantara 2,Jl. Kramat Jaya Gg. VIII,Tugu Utara,K o j a,379,23.0,021-4408882 /44468263,Banjir,"-6.121597, 106.914185"
14,15,SMK Pelayaran Tri Arga 1,Jl. HH No.63 Kebun Jeruk,Kebon Jeruk,Kebon Jeruk,0,12.0,(021)5321325,Banjir,"-6.203933, 106.768753"
15,16,SMK PGRI 39 Jakarta,Jl. I Gusti Ngurah Rai,Penggilingan,Cakung,178,21.0,021-46823922,Banjir,"-6.215946, 106.926956"
16,17,SMK PGRI 40 Jakarta,Jl. Rawa Kuning No. 119,Pulo Gebang,Cakung,46,NaN,2196687852,Banjir,"0.000000, 0.000000"
17,18,SMK PGRI 8 Jakarta,Jl. Cipinang Muara I,Pondok Bambu,Duren Sawit,103,12.0,(021)86610019,Banjir,"-6.212483, 106.872505"
18,19,SMK Poncol,Jl. Mutiara Raya,Sumur Batu,Kemayoran,0,30.0,(021)4252110,Banjir,"-6.164200, 106.869202"
19,20,SMK Raudhatul Jannatunna'im,Jl. Budi Mulia No.91,Pademangan Barat,Pademangan,204,18.0,(021)64710005,Banjir,"-6.132853, 106.839439"
20,21,SMK Respati I,Jl. Inpres,Kampung Tengah,Kramat Jati,94,19.0,218093086,Banjir,"-6.286506, 106.870705"
21,22,SMK Sumber Daya Manusia,Jl. Amil Buncit Indah I B,Kalibata,Pancoran,0,15.0,(021)7944204,Banjir,"-6.162418, 106.495529"
22,23,SMK Tarakanita,Jl. Pulo Raya IV/17,Petogogan,Kebayoran Baru,286,26.0,021 7230148,Banjir,"-6.246231, 106.811752"
23,24,SMK Tunas Markatin,Jl. Waru No. 20 B,Rawamangun,Pulo Gadung,163,23.0,(021)4707917,Banjir,"-6.196035, 106.888191"
24,25,SMK Yapenap 1 Jakarta,Jl. Pancoran Barat VI B No. 72,Pancoran,Pancoran,78,11.0,(021)7902318,Banjir,"-6.249705, 106.840088"

In [5]:
header_list = list(df)
header_list.remove('No.')
header_list

['Nama Sekolah',
 'Alamat',
 'Kelurahan',
 'Kecamatan',
 'Jumlah Siswa',
 'Jumlah Guru',
 'Telp Sekolah',
 'Kondisi Lingkungan',
 'Lokasi Geografis']

In [6]:
dtMap = makeDatatypeMap(header_list, df)
dtMap

[0, 1, 0, 0, 1, 1, 1, 0, 1]

In [13]:
convertMap = {}
finalMap2 = {}
print("Start processing Table")
for header in header_list:
    print("Processing {} Column".format(header))
    columnList = []
    for cell in df[header]:
        if(dtMap[header_list.index(header)]):
            id = cell
        else:
            temp = "{}{}".format(header, cell)
            if(temp in convertMap):
                id = convertMap[temp]
            else:
                id = searchID(protagonist == header, cell, header)
                convertMap[temp] = id
        columnList.append(id)
    print("finished processing {} datas".format(len(columnList)))
    finalMap2[header] = columnList

print("All task Finished")

Start processing Table
Processing Nama Sekolah Column
finished processing 25 datas
Processing Alamat Column
finished processing 25 datas
Processing Kelurahan Column
finished processing 25 datas
Processing Kecamatan Column
finished processing 25 datas
Processing Jumlah Siswa Column
finished processing 25 datas
Processing Jumlah Guru Column
finished processing 25 datas
Processing Telp Sekolah Column
finished processing 25 datas
Processing Kondisi Lingkungan Column
finished processing 25 datas
Processing Lokasi Geografis Column
finished processing 25 datas
All task Finished

In [12]:
searchProperty('Q60610068', 'Q6472418')

{'head': {'vars': ['item', 'itemLabel']},
 'results': {'bindings': [{'item': {'type': 'uri',
     'value': 'http://www.wikidata.org/prop/direct/P131'},
    'itemLabel': {'type': 'literal',
     'value': 'http://www.wikidata.org/prop/direct/P131'}}]}}

In [16]:
new_df2 = pd.DataFrame.from_dict(finalMap2)
new_df2

,Nama Sekolah,Alamat,Kelurahan,Kecamatan,Jumlah Siswa,Jumlah Guru,Telp Sekolah,Kondisi Lingkungan,Lokasi Geografis
0,QNew,Jl. Bendera Raya - Intisari 3,Q12488768,Q193374,350,39.0,021-8720108,Q8068,"-6.331491, 106.858711"
1,QNew,Jl. Karya Barat I Ujung No.24 Jakarta Barat,Q7999779,Q192723,30,13.0,82114486336,Q8068,"-6.161085, 106.773727"
2,QNew,"Jl. Rawa Bengkel Sdn 19 Pagi, Cengkareng Barat",Q5058847,Q192714,60,10.0,(021)5447107,Q8068,"-6.141474, 106.725876"
3,Q31778996,Jl. Kebon Nanas Utara II/23,Q12479264,Q193323,295,21.0,021-85914453,Q8068,"1.000000, 2.000000"
4,QNew,Jl. Tabah Raya Komp. TNI AL,Q2806467,Q193545,512,28.0,(021)4535140,Q8068,"-6.158968, 106.885063"
5,QNew,Jl. Let. Jend. S. Parman No. 69,Q13097193,Q192745,0,14.0,(021)70624646,Q8068,"-6.193888, 106.797432"
6,QNew,Jl. Keutamaan No. 89,Q12492672,Q192748,144,14.0,(021) 6344508,Q8068,"-6.156000, 106.814003"
7,Q60610068,Jl. Mindi No. 36,Q6472418,QNPNew,55,13.0,43909933,Q8068,"-6.113743, 106.916031"
8,Q20427513,Jl. Kesatuan No.1 kp.Klingkit,Q4201202,Q192714,306,18.0,(021)58300174,Q8068,"-6.156400, 106.728104"
9,Q12510798,Jl. Bendera Raya / Intisari III No.17,Q12488768,Q193374,209,22.0,(021)8728766,Q8068,"-6.330335, 106.858643"
10,QNew,Jl. Lagoa III No. 135,Q6472418,QNPNew,73,12.0,4308134,Q8068,"-6.117838, 106.913391"
11,QNew,Jl. Balai Pustaka Baru 1,Q12508224,Q193314,1079,105.0,(021)4720310,Q8068,"-6.194550, 106.886497"
12,QNew,Jl. Kebon Sirih No. 38,Q192800,Q192800,347,31.0,021 - 3441788,Q8068,"-6.181852, 106.817123"
13,Q60610219,Jl. Kramat Jaya Gg. VIII,Q12522496,QNPNew,379,23.0,021-4408882 /44468263,Q8068,"-6.121597, 106.914185"
14,QNew,Jl. HH No.63 Kebun Jeruk,Q192734,Q192734,0,12.0,(021)5321325,Q8068,"-6.203933, 106.768753"
15,Q60609965,Jl. I Gusti Ngurah Rai,Q11214301,Q193398,178,21.0,021-46823922,Q8068,"-6.215946, 106.926956"
16,Q31779101,Jl. Rawa Kuning No. 119,Q19944118,Q193398,46,NaN,2196687852,Q8068,"0.000000, 0.000000"
17,Q60610035,Jl. Cipinang Muara I,Q12506096,Q193347,103,12.0,(021)86610019,Q8068,"-6.212483, 106.872505"
18,Q60609996,Jl. Mutiara Raya,Q13544264,Q192850,0,30.0,(021)4252110,Q8068,"-6.164200, 106.869202"
19,QNew,Jl. Budi Mulia No.91,Q12501898,Q193558,204,18.0,(021)64710005,Q8068,"-6.132853, 106.839439"
20,QNew,Jl. Inpres,Q12489041,Q193356,94,19.0,218093086,Q8068,"-6.286506, 106.870705"
21,QNew,Jl. Amil Buncit Indah I B,Q4201827,Q193015,0,15.0,(021)7944204,Q8068,"-6.162418, 106.495529"
22,Q25457834,Jl. Pulo Raya IV/17,Q12505366,Q192999,286,26.0,021 7230148,Q8068,"-6.246231, 106.811752"
23,QNew,Jl. Waru No. 20 B,Q12508224,Q193314,163,23.0,(021)4707917,Q8068,"-6.196035, 106.888191"
24,QNew,Jl. Pancoran Barat VI B No. 72,Q193015,Q193015,78,11.0,(021)7902318,Q8068,"-6.249705, 106.840088"

In [18]:
propMap = {}
for header in header_list:
    if(header != protagonist):
        propCount = {}
        for x in range(len(new_df2[header])):
            if(new_df2[header][x] != 'QNPNew' and new_df2[protagonist][x] != 'QNew'):
                print(new_df2[header][x])
                print(new_df2[protagonist][x])
                result = searchProperty(new_df2[protagonist][x], new_df2[header][x])
                if(len(result['results']['bindings']) > 0):
                    for prop in result['results']['bindings']:
                        temp = prop.split('/')
                        if(temp in propCount):
                            propCount[temp] = propCount[temp] + 1
                        else:
                            propCount[temp] = 1
        propMap[header] = max(stats.items(), key=operator.itemgetter(1))[0]

Jl. Kebon Nanas Utara II/23
Q31778996

QueryBadFormed: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.

Response:
b'SPARQL-QUERY: queryStr=\n    SELECT ?item ?itemLabel\n    WHERE\n    {\n        wd:Q31778996 ?item wd:Jl. Kebon Nanas Utara II/23 .\n        SERVICE wikibase:label { bd:serviceParam wikibase:language "id" }\n    }\n    \njava.util.concurrent.ExecutionException: org.openrdf.query.MalformedQueryException: Lexical error at line 5, column 40.  Encountered: " " (32), after : "Kebon"\n\tat java.util.concurrent.FutureTask.report(FutureTask.java:122)\n\tat java.util.concurrent.FutureTask.get(FutureTask.java:206)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:293)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:679)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat com.bigdata.rdf.sail.webapp.MultiTenancyServlet.doGet(MultiTenancyServlet.java:271)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:687)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:790)\n\tat org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:865)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1655)\n\tat org.wikidata.query.rdf.blazegraph.throttling.ThrottlingFilter.doFilter(ThrottlingFilter.java:337)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat ch.qos.logback.classic.helpers.MDCInsertingServletFilter.doFilter(MDCInsertingServletFilter.java:49)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.ClientIPFilter.doFilter(ClientIPFilter.java:43)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1634)\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:533)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1340)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1242)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\n\tat org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.Server.handle(Server.java:503)\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:364)\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:765)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:683)\n\tat java.lang.Thread.run(Thread.java:748)\nCaused by: org.openrdf.query.MalformedQueryException: Lexical error at line 5, column 40.  Encountered: " " (32), after : "Kebon"\n\tat com.bigdata.rdf.sail.sparql.Bigdata2ASTSPARQLParser.parseQuery2(Bigdata2ASTSPARQLParser.java:404)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet$SparqlQueryTask.call(QueryServlet.java:742)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet$SparqlQueryTask.call(QueryServlet.java:696)\n\tat com.bigdata.rdf.task.ApiTaskForIndexManager.call(ApiTaskForIndexManager.java:68)\n\tat java.util.concurrent.FutureTask.run(FutureTask.java:266)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\n\t... 1 more\nCaused by: com.bigdata.rdf.sail.sparql.ast.TokenMgrError: Lexical error at line 5, column 40.  Encountered: " " (32), after : "Kebon"\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilderTokenManager.getNextToken(SyntaxTreeBuilderTokenManager.java:3994)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_scan_token(SyntaxTreeBuilder.java:9594)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3R_83(SyntaxTreeBuilder.java:8926)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3R_68(SyntaxTreeBuilder.java:8862)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3R_59(SyntaxTreeBuilder.java:8851)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3R_49(SyntaxTreeBuilder.java:8950)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3R_40(SyntaxTreeBuilder.java:8969)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_3_2(SyntaxTreeBuilder.java:9318)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_2_2(SyntaxTreeBuilder.java:8764)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.TriplesBlock(SyntaxTreeBuilder.java:2311)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.BasicGraphPattern(SyntaxTreeBuilder.java:2093)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GraphPattern(SyntaxTreeBuilder.java:2030)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GroupGraphPattern(SyntaxTreeBuilder.java:1965)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.WhereClause(SyntaxTreeBuilder.java:1009)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.SelectQuery(SyntaxTreeBuilder.java:373)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.Query(SyntaxTreeBuilder.java:324)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.QueryContainer(SyntaxTreeBuilder.java:212)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.parseQuery(SyntaxTreeBuilder.java:32)\n\tat com.bigdata.rdf.sail.sparql.Bigdata2ASTSPARQLParser.parseQuery2(Bigdata2ASTSPARQLParser.java:336)\n\t... 7 more\n'

In [42]:
convertMap = {}
finalMap = {}
print("Start processing Table")
for header in header_list:
    if(header.lower() in mapping):
        print("Processing {} Column".format(header))
        columnList = []
        for cell in df[header]:
            if(dtMap[header_list.index(header)]):
                id = cell
            else:
                temp = "{}{}".format(header, cell)
                if(temp in convertMap):
                    id = convertMap[temp]
                else:
                    id = searchID(protagonist == header, cell, header)
                    convertMap[temp] = id
            columnList.append(id)
        print("finished processing {} datas".format(len(columnList)))
        if(header == protagonist):
            finalMap[header] = columnList
        else:
            finalMap[mapping[header.lower()]] = columnList

print("All task Finished")

Start processing Table
Processing Nama Sekolah Column
finished processing 25 datas
Processing Alamat Column
finished processing 25 datas
Processing Kelurahan Column
finished processing 25 datas
Processing Kecamatan Column
finished processing 25 datas
Processing Jumlah Siswa Column
finished processing 25 datas
Processing Telp Sekolah Column
finished processing 25 datas
Processing Lokasi Geografis Column
finished processing 25 datas
All task Finished

In [38]:
len(convertMap)

40

In [39]:
temp = {}
for item in convertMap:
    if(convertMap[item] == 'QNew' or convertMap[item] == 'QNPNew'):
        item2 = item.replace(' ', '').lower()
        temp[item2] = convertMap[item]
temp

{'kecamatankoja': 'QNPNew'}

In [43]:
new_df = pd.DataFrame.from_dict(finalMap)
new_df

,Nama Sekolah,P6375,P131,P131(2),P2196,P1329,P625
0,QNew,Jl. Bendera Raya - Intisari 3,Q12488768,Q193374,350,021-8720108,"-6.331491, 106.858711"
1,QNew,Jl. Karya Barat I Ujung No.24 Jakarta Barat,Q7999779,Q192723,30,82114486336,"-6.161085, 106.773727"
2,QNew,"Jl. Rawa Bengkel Sdn 19 Pagi, Cengkareng Barat",Q5058847,Q192714,60,(021)5447107,"-6.141474, 106.725876"
3,Q31778996,Jl. Kebon Nanas Utara II/23,Q12479264,Q193323,295,021-85914453,"1.000000, 2.000000"
4,QNew,Jl. Tabah Raya Komp. TNI AL,Q2806467,Q193545,512,(021)4535140,"-6.158968, 106.885063"
5,QNew,Jl. Let. Jend. S. Parman No. 69,Q13097193,Q192745,0,(021)70624646,"-6.193888, 106.797432"
6,QNew,Jl. Keutamaan No. 89,Q12492672,Q192748,144,(021) 6344508,"-6.156000, 106.814003"
7,Q60610068,Jl. Mindi No. 36,Q6472418,QNPNew,55,43909933,"-6.113743, 106.916031"
8,Q20427513,Jl. Kesatuan No.1 kp.Klingkit,Q4201202,Q192714,306,(021)58300174,"-6.156400, 106.728104"
9,Q12510798,Jl. Bendera Raya / Intisari III No.17,Q12488768,Q193374,209,(021)8728766,"-6.330335, 106.858643"
10,QNew,Jl. Lagoa III No. 135,Q6472418,QNPNew,73,4308134,"-6.117838, 106.913391"
11,QNew,Jl. Balai Pustaka Baru 1,Q12508224,Q193314,1079,(021)4720310,"-6.194550, 106.886497"
12,QNew,Jl. Kebon Sirih No. 38,Q192800,Q192800,347,021 - 3441788,"-6.181852, 106.817123"
13,Q60610219,Jl. Kramat Jaya Gg. VIII,Q12522496,QNPNew,379,021-4408882 /44468263,"-6.121597, 106.914185"
14,QNew,Jl. HH No.63 Kebun Jeruk,Q192734,Q192734,0,(021)5321325,"-6.203933, 106.768753"
15,Q60609965,Jl. I Gusti Ngurah Rai,Q11214301,Q193398,178,021-46823922,"-6.215946, 106.926956"
16,Q31779101,Jl. Rawa Kuning No. 119,Q19944118,Q193398,46,2196687852,"0.000000, 0.000000"
17,Q60610035,Jl. Cipinang Muara I,Q12506096,Q193347,103,(021)86610019,"-6.212483, 106.872505"
18,Q60609996,Jl. Mutiara Raya,Q13544264,Q192850,0,(021)4252110,"-6.164200, 106.869202"
19,QNew,Jl. Budi Mulia No.91,Q12501898,Q193558,204,(021)64710005,"-6.132853, 106.839439"
20,QNew,Jl. Inpres,Q12489041,Q193356,94,218093086,"-6.286506, 106.870705"
21,QNew,Jl. Amil Buncit Indah I B,Q4201827,Q193015,0,(021)7944204,"-6.162418, 106.495529"
22,Q25457834,Jl. Pulo Raya IV/17,Q12505366,Q192999,286,021 7230148,"-6.246231, 106.811752"
23,QNew,Jl. Waru No. 20 B,Q12508224,Q193314,163,(021)4707917,"-6.196035, 106.888191"
24,QNew,Jl. Pancoran Barat VI B No. 72,Q193015,Q193015,78,(021)7902318,"-6.249705, 106.840088"

In [98]:
new_df.to_csv('data/dummymapping.csv')